.home {
    position: relative;
    padding-block-start: 16rem;
    padding-block-end: 3.5rem;
    background-color: var(--main-bg);
}

/*********** hero section  ***********/
.home__hero, .home__hero > div {
    position: absolute;
    inset: 0;
}

.home__hero {
    max-height: 34.375rem;
    overflow: hidden;
}

.home__hero > div {
    opacity: 0;
    transition: all 350ms linear;
}

.home__hero > .prev-slide {
    transform: translateX(-100%);
}

.home__hero > .current-slide {
    opacity: 1;
    transform: translateX(0);
}

.home__hero > .next-slide {
    transform: translateX(100%);
}

.home__hero::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 220px;
    background: linear-gradient(-180deg,rgba(234,237,237,0), var(--light-gray));
    z-index: 1;
}

.hero-btns {
    position: absolute;
    top: 0;
    padding: 7rem 1.1rem;
    border: 0;
    border-radius: .25rem;
    background-color: transparent;
}

.hero-btns:focus {
    outline: 0.125rem solid var(--sky-blue);
}

.left-btn {
    left: 0;
}
.right-btn{
    right: 0;
}

.hero-btns > svg{
    width: 35px;
    height: auto;
}
/*********** category cards section ***********/
.home__categories {
    display: grid;
    width: min(71.875rem, 100%);
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.home__categories > .card {
    position: relative;
    padding: 1rem;
    background-color: var(--white);
    z-index: 1;
    height: 21.1875rem;
}

.card > h2, .card > div {
    margin-bottom: .6rem;
}

.card > div {
    position: relative;
    height: 78%;
    /* height: 236.34px; */
}

.card > a {
    color: var(--sky-blue);
}

@media (min-width: 36.25rem) {
    .home__categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 49.375rem) {    
    .home__categories {
        grid-template-columns: repeat(3, 1fr);
    }

    .home__hero {
        max-height: 53.125rem;
    }
}
/* 64.5em */
@media (min-width: 75rem) {
    .home {
        padding-inline: 3.75rem;
    }

    .home__categories {
        grid-template-columns: repeat(4, 1fr);
        margin-inline: auto;
    }
}